

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.fb-like {
    position: relative;
    top: -5px; // vertically center FB like/share
}

/* This gets Facebook to fall into place */
.social iframe {
    position: relative;
    top: 10px;
}

.google {
    position: relative;
    top: 12px;
}












