

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* This gets Facebook to fall into place */
.social iframe {
    position: relative;
    top: 10px;
}

.google {
    position: relative;
    top: 12px;
}












