

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* This gets all the buttons to fall into place...
 * ...this took 9 commits to get right... */
.social, .social span {
    line-height: 20px;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url(../img/header-dark.png);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.1em 0.1em 0.1em;
}










